<%- include('navBar'); -%>
<div class="homeContainer" onClick="closeMenu()">
    <div class="imgOverlay">
        <img class="imgBackground" src="Images/coffee people.jpeg" alt="People enjoying coffee">
    </div>
    <div class="textContainer">
        <h2 class="title">Meet and Make Friends in the <span class="greenText">Real World</span></h2>
        <h5 class="subTitle">Social chat application for large groups and organizations</h5>
        <button class="appStore"><i class="fab fa-google-play"></i> Google Play</button>
        <button class="appStore"><i class="fab fa-apple"></i> Apple</button> 
    </div>
    <img class="phone" src="images/white.png" alt="phone">
</div>
</body>