<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <script src="script.js"></script>
  <title>SocialUp</title>
</head>

<body>
        <div class="navContainer">
        <h1 class="logo">SocialUp</h1>
        <ul id="navItems" class="navList list">
            <li class="navItem">
              <a class="" href="app">App</a> 
            </li>
            <li class="navItem">
              <a class="" href="pricing">Pricing</a>
            </li>
            <li class="navItem">
              <a class="" href="about">About</a>
            </li>
            <li class="navItem">
              <a class="" href="contact">Contact</a>
            </li>
          </ul>
          <button onClick="openMenu()" id="burger" class="hamburger"><i class="fas fa-bars"></i></button>
          <button onClick="closeMenu()" id="exit" class="times"><i class="fas fa-times"></i></button>

         </div>


<!--           
  <div class="mobileMenu">
    <ul class="mobileList">
      <li class="navItemMobile">
        <a class="" href="app">App</a> 
      </li>
      <li class="navItemMobile">
        <a class="" href="pricing">Pricing</a>
      </li>
      <li class="navItemMobile">
        <a class="" href="about">About</a>
      </li>
      <li class="navItemMobile">
        <a class="" href="contact">Contact</a>
      </li>
    </ul>
  </div>
-->